trigonometria-interactiva/content.dtd

<!ELEMENT ode (userPreferences?, odeResources?, odeProperties?, odeNavStructures)>
<!ATTLIST ode xmlns CDATA #FIXED "http://www.intef.es/xsd/ode" version CDATA #IMPLIED>
<!ELEMENT userPreferences (userPreference*)><ELEMENT userPreference (key, value)>
<!ELEMENT odeResources (odeResource*)><ELEMENT odeResource (key, value)>
<!ELEMENT odeProperties (odeProperty*)><ELEMENT odeProperty (key, value)>
<!ELEMENT key (#PCDATA)><ELEMENT value (#PCDATA)>
<!ELEMENT odeNavStructures (odeNavStructure*)><ELEMENT odeNavStructure (odePageId, odeParentPageId, pageName, odeNavStructureOrder, odeNavStructureProperties?, odePagStructures?)>
<!ELEMENT odePageId (#PCDATA)><ELEMENT odeParentPageId (#PCDATA)><ELEMENT pageName (#PCDATA)><ELEMENT odeNavStructureOrder (#PCDATA)>
<!ELEMENT odeNavStructureProperties (odeNavStructureProperty*)><ELEMENT odeNavStructureProperty (key, value)>
<!ELEMENT odePagStructures (odePagStructure*)><ELEMENT odePagStructure (odePageId, odeBlockId, blockName, iconName?, odePagStructureOrder, odePagStructureProperties?, odeComponents?)>
<!ELEMENT odeBlockId (#PCDATA)><ELEMENT blockName (#PCDATA)><ELEMENT iconName (#PCDATA)><ELEMENT odePagStructureOrder (#PCDATA)>
<!ELEMENT odePagStructureProperties (odePagStructureProperty*)><ELEMENT odePagStructureProperty (key, value)>
<!ELEMENT odeComponents (odeComponent*)><ELEMENT odeComponent (odePageId, odeBlockId, odeIdeviceId, odeIdeviceTypeName, htmlView?, jsonProperties?, odeComponentsOrder, odeComponentsProperties?)>
<!ELEMENT odeIdeviceId (#PCDATA)><ELEMENT odeIdeviceTypeName (#PCDATA)><ELEMENT htmlView (#PCDATA)><ELEMENT jsonProperties (#PCDATA)><ELEMENT odeComponentsOrder (#PCDATA)>
<!ELEMENT odeComponentsProperties (odeComponentsProperty*)><ELEMENT odeComponentsProperty (key, value)>